target/classes/betterdocdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:better-doctor="http://www.mulesoft.org/schema/mule/better-doctor" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/better-doctor http://www.mulesoft.org/schema/mule/better-doctor/current/mule-better-doctor.xsd">
    <better-doctor:config name="BetterDoctor__Configuration" doc:name="BetterDoctor: Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="betterdocdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/BetterDoc" doc:name="HTTP"/>
        <logger message="&quot;special:&quot;+#[message.inboundProperties.'http.query.params'.speciality_uid]" level="INFO" doc:name="Logger"/>
        <better-doctor:get-better-doctor config-ref="BetterDoctor__Configuration" first_name="#[message.inboundProperties.'http.query.params'.first_name]" gender="#[message.inboundProperties.'http.query.params'.gender]" last_name="#[message.inboundProperties.'http.query.params'.last_name]" location="#[message.inboundProperties.'http.query.params'.location]" specialtyuid="#[message.inboundProperties.'http.query.params'.specialityuid]" doc:name="BetterDoctor" />
    </flow>
</mule>
